/* NavBar Begins */
nav img {
    height: 40px;
}
nav .header{
    padding-inline: 300px;
}
nav .navbar-light .bg-light{
    background-color: red !important;
}
/* NavBar Ends */

/* Header Begins */
.head{
    background-image: url(images/background-bags.webp);
    background-position: center;
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
}
.head h1{
    padding-top: 200px;
    color: rgb(214, 7, 7);
    font-style: italic;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
}
/* Header Ends */

/* Product Begins */
.product{
    margin-left: 25rem;
}
.product .btn{
    border-radius: 10px;
}
.product h3{
    margin-left: 14rem;
    color: red;
    font-style: italic;
}
/* Product Ends */

/* Card begins */
.card img{
    height: 300px;
}
.card{
    margin: 30px;
}
/* card ends */

/* direction begins */
.direction{
    margin-left: 35rem;
}
/* direction ends */