/* NavBar Begins */
nav img {
    height: 40px;
}
nav .header{
    padding-inline: 200px;
}
nav .header li{
    padding-inline: 30px;
}
nav .header li a{
    font-weight: 500;
    font-style: italic;
    color: black !important;
}
.active{
    position: relative;
}
.active > * {
    color: blue !important;
}
.active::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background-color: blue;
}
nav .header a:hover{
    transition: 0.3s;
}
/* nav .navbar-light .bg-light{
    background-color: rgb(19, 18, 18) !important;
} */
/* NavBar Ends */

/* Header Begins */
.head{
    background-image: url(images/shoe-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    background-repeat: no-repeat;
}
.head h1{
    padding-top: 200px;
    color: rgb(29, 61, 245);
    font-style: italic;
    font-family: cursive;
    font-size: 70px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}
.head .overlay{
    background-color: rgba(138, 61, 209, .3);
    width: 100%;
    height: 100%;

}
/* Header Ends */

/* Product Begins */
.product{
    margin-left: 25rem;
}
.product .btn{
    border-radius: 10px;
}
.product h3{
    margin-left: 14rem;
    color: red;
    font-style: italic;
}
/* Product Ends */

/* Card begins */
.card img{
    height: 300px;
}
.card{
    margin: 30px;
}
/* card ends */

/* direction begins */
.direction{
    margin-left: 35rem;
}
/* direction ends */